{{#card-stack
  class="card-stack--default"
  items=items
  visibleItemAmount=visibleItemAmount
  currentItemIndex=currentItemIndex
  as |context|
}}
  <div
    class="card-stack-item__inner"
    style={{background-style context.item.color}}
  >
    <p>Card {{context.item.value}}</p>
    {{#unless (eq context.item items.lastObject)}}
      {{#paper-button
        onClick=(action "next")
      }}
        Next Card{{paper-icon "arrow_forward"}}
      {{/paper-button}}

    {{/unless}}
  </div>
{{/card-stack}}

<div class="box">
  <h3>Options {{paper-icon "settings"}}</h3>
  <table>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Default</th>
      <th>Current</th>
      <th>Demo</th>
    </tr>
    <tr>
      <td>items</td>
      <td>
        <a
          href="https://www.emberjs.com/api/classes/Ember.NativeArray.html"
          target="_blank"
        >
          NativeArray</a>
      </td>
      <td>[]</td>
      <td>-</td>
      <td>Array of context values</td>
    </tr>
    <tr>
      <td>visibleItemAmount</td>
      <td>Number</td>
      <td>3</td>
      <td>{{visibleItemAmount}}</td>
      <td>
        {{paper-slider
          min=3
          max=10
          value=visibleItemAmount
          onChange=(action (mut visibleItemAmount))
        }}
      </td>
    </tr>
    <tr>
      <td>currentItemIndex</td>
      <td>Number</td>
      <td>0</td>
      <td>{{currentItemIndex}}</td>
      <td>
        {{#paper-button
          iconButton=true
          disabled=isIncrementDisabled
          onClick=(action "increment")
        }}
          {{paper-icon "add"}}
        {{/paper-button}}
        {{#paper-button
          iconButton=true
          disabled=isDecrementDisabled
          onClick=(action "decrement")
        }}
          {{paper-icon "remove"}}
        {{/paper-button}}
      </td>
    </tr>
  </table>
</div>

<h2>Code Sample</h2>

<div class="box">
  <h3>Controller {{paper-icon "code"}}</h3>
  {{code-snippet name="controller.js"}}
</div>
<div class="box">
  <h3>Route Template {{paper-icon "code"}}</h3>
  {{code-snippet name="template.hbs"}}
</div>
<div class="box">
  <h3>Styles {{paper-icon "code"}}</h3>
  {{code-snippet name="styles.css"}}
</div>
